*.exe
*.test
*.out
*.mod
*.sum

vendor/
bin/
dist/

gator

internal/database/*.go

.DS_Store
*.swp
*.swo
*.bak
*.tmp

.vscode/
.idea/
*.code-workspace

*.log

*.env
.env.*
*.local
.gatorconfig.json

goose_db_version.*
